{% extends 'base.html' %}

{% block content %}
<div class="container bg-dark text-white">
    <div class="row">
        <div class="col-sm">
            <h3>Apetizers (Veg) </h3>
            <p>Samosa ....................... $2.00</p>
            <p>Samosa ....................... $2.00</p>
            <p>Samosa ....................... $2.00</p>
            <p>Samosa ....................... $2.00</p>
        </div>
        <div class="col-sm">
                <h3>Apetizers (Non-Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>    

    </div>
    <div style="background-color: rgb(29, 109, 179); height: 20px;"></div>
    <div class="row">
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
    </div>

    <div style="background-color: rgb(29, 109, 179); height: 20px;"></div>
    <div class="row">
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
    </div>

    <div style="background-color: rgb(29, 109, 179); height: 20px;"></div>
    <div class="row">
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
        <div class="col-sm">
                <h3>Rice (Veg) </h3>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
                <p>Samosa ....................... $2.00</p>
        </div>
    </div>

    </div>  
</div>
{% endblock %}